@use '../../sass/Utils/vars';

.container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    & h2 {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
}

.form_container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 350px;
    transform-style: preserve-3d;
    transition: all 600ms ease-in;
}

.animation {
    transform: rotate3d(0, 1, 0, 180deg);
}

.cote {
    &Droit {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateY(-90deg) translateZ(150px);
    }
    &Gauche {
        transform: rotateY(90deg) translateZ(150px);
    }
}

.form {
    position: absolute;
    top: 0;
    box-shadow: 0 0 25px vars.$box-shadow-color;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 50px 20px;
    color: vars.$color-secondary;
    border-radius: 15px;
    background-color: vars.$color-tertiary;
    border: 5px ridge vars.$color-secondary;
    & h3 {
        text-align: center;
    }
}

.form_login {
    transform: translateZ(150px) ;
}

.form_signup {
    transform: rotateY(180deg) translateZ(150px);
}

h2 {
    color: #FFF;
}

.navLink {
    color: vars.$color-secondary;
    cursor: pointer;
    &:hover {
        color: vars.$color-primary;
    }
}

.errorAuth {
    width: 300px;
    box-shadow: 0 0 25px vars.$box-shadow-color;
    margin: 20px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: vars.$color-primary;
    border-radius: 15px;
    border: 5px ridge vars.$color-primary;
}