@use '../../sass/Utils/vars';

.form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border-radius: 15px;
    margin: 15px auto;
    & button {
        padding: 5px 15px;
        border-radius: 15px;
        background-color: vars.$color-green;
        color: vars.$font-color-light;
        width: 150px;
        border: none;
        height: 40px;
        &:hover {
            background-color: vars.$color-hover-green;
            color: vars.$font-color-dark;
        }
    }
}

.bg_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 250px;
    border-radius: 25px;
    background: vars.$color-dark;
    &:hover .menuImg {
        visibility: visible;
    }
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
}

.avatar_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: vars.$color-dark;
    &:hover .menuImg {
        visibility: visible;
    }
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.avatarPicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: vars.$color-dark;
}

.name {
    width: 100%;
    padding: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuImg {
    position: absolute;
    background-color: vars.$dark-shadow-color;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &--bg {
        border-radius: 25px;
    }
    &--avatar {
        border-radius: 50%;
    }
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: vars.$color-dark;
    color: vars.$font-color-light;
    &:hover {
        background-color: vars.$color-light;
    }
    &--trash:hover {
        color: vars.$color-primary;
    }
    &--pencil:hover {
        color: vars.$color-green;
    }
}