@use "../../sass/Utils/vars";
@use "../../sass/Utils/mixinMQ";

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border-radius: 15px;
    padding: 20px;
    margin: 15px auto;
}

.bg_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 250px;
    border-radius: 25px;
    background: vars.$color-dark;
    &:hover .menuImg, :focus-within .menuImg {
        visibility: visible;
    }
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
}

.menuImg {
    position: absolute;
    background-color: vars.$dark-shadow-color;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &--bg {
        border-radius: 25px;
    }
    &--avatar {
        border-radius: 50%;
    }
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: vars.$color-dark;
    color: vars.$font-color-light;
    &:hover {
        background-color: vars.$color-light;
    }
    &--trash:hover {
        color: vars.$color-primary;
    }
    &--pencil:hover {
        color: vars.$color-green;
    }
}

.profil_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.avatar_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: vars.$color-dark;
    &:hover .menuImg {
        visibility: visible;
    }
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.avatarPicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: vars.$color-dark;
}

.profil {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personnal_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.name {
    display: flex;
    flex-direction: column;
    @include mixinMQ.tablette {
        flex-direction: row;
    }
}

.userName {
    padding: 10px;
    font-size: 50px;
}

.newPassword_container {
    padding: 20px 0px;
}

.validation_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.current_password input{
    width: 100%
}

.validation {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 10px;
    @include mixinMQ.tablette {
        flex-direction: row;
    }
}

.role {
    margin-top: 10px;
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}