$color-primary : rgb(253, 45, 1);
$color-secondary : rgb(255, 215, 215);
$color-tertiary : #4E5166;
$color-dark: #000;
$color-light : #FFF;

$color-grey: #CCC;
$color-green: #00a023;
$color-hover-green: #00d62e;

$body-dark-color: rgb(34, 34, 34);

$box-shadow-color: rgba(253, 45, 1, 0.3);
$dark-shadow-color: rgba(88, 88, 88, 0.5);

$font-color-dark : #000;
$font-color-light : #FFF;

$border3D-color: #5E5E5E;