@use './sass/Utils/vars';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Times new roman', serif;
}

h1, h2, h3 {
    font-family: 'Fredoka One', serif;
}

a {
    color: vars.$font-color-light;
}

body {
    background-color: vars.$body-dark-color;
    color: vars.$font-color-light;
}