@use "../../sass/Utils/vars";
@use "../../sass/Utils/mixinMQ";

.header {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: vars.$color-primary;
    & img {
        width: 90px;
        margin: 20px;
    }
    @include mixinMQ.tablette {
        flex-direction: row;
    }
}

h1 {
    font-size: 3rem;
}