@use '../../sass/Utils/vars';

.header {
    padding: 20px;
    width: 100%;
    color: vars.$font-color-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: vars.$color-primary;
    & img {
        width: 90px;
    }
}

h1 {
    font-size: 3rem;
}